:root {
    --bg-color: #f4f4f4;
    --card-bg: #ffffff;
    --text-color: #111;
    --nav-bg: #2c2c2c;
}

body.dark {
    --bg-color: #121212;
    --card-bg: #1e1e1e;
    --text-color: #f1f1f1;
    --nav-bg: #1a1a1a;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--nav-bg);
    padding: 10px 30px;
    color: white;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-left a {
    color: white;
    text-decoration: none;
    gap: 20px;
}

.nav-right {
    display: flex;
    align-items: center;
    
}

.nav-links {
    display: flex;
    margin: 0 20px;
    gap: 10px;/* Adjust this number to add more or less space */
}

.btn {
    padding: 6px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    margin: 10px;
}

.signup {
    background: gold;
    color: black;
}

.signin {
    background: green;
    color: white;
}

.theme-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: white;
}

.title-section {
    text-align: center;
    margin-top: 40px;
}

.game-menu {
    display: grid;
    grid-template-columns: repeat(2, 220px);
    gap: 25px;
    justify-content: center;
    margin-top: 40px;
}

.game-card {
    background: var(--card-bg);
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    transition: 0.5s;
}

.game-card:hover {
    transform: scale(1.05);
    background-color: rgb(213, 206, 206);
}
.footer {
    background: #222;
    color: white;
    padding: 30px;
    margin-top: 60px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-links a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-theme-btn {
    background: #7e57c2;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
}

.socials span {
    margin-right: 10px;
    cursor: pointer;
    font-size: 18px;
}
